[Unit]
Description=KasseMultiGUI Server
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/node /var/www/html/kasse/server.js
WorkingDirectory=/var/www/html/kasse
Restart=always
RestartSec=5
User=dome2k3
Environment=NODE_ENV=production
Environment=PORT=3000

StandardOutput=journal
StandardError=journal
SyslogIdentifier=kasse

[Install]
WantedBy=multi-user.target
